html,
body,
h1,
h2,
p,
ul,
li,
input,
header,
main,
footer {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Roboto;
}

.container {
  max-width: 793px;
  margin: 0;
}
.header {
  background-color: #4a4f56;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82px;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ff8984;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #ff8984;
    margin-bottom: 12px;
  }
}
main {
  background-color: #3b3f45;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  align-items: center;

  form {
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
  }
  label {
    display: flex;
    gap: 10px;
    width: 534px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #ffffff;
  }
  li label:hover {
    background-color: #625e77;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    height: 39px;
  }

  li label:active {
    background-color: red;
  }

  li:nth-child(2n + 1) {
    background-color: #88839e;
  }

  li:nth-child(2n) {
    background-color: #7a7593;
  }

  input[type="checkbox"] {
    accent-color: white;
    height: 19px;
    width: 19px;
    margin: 0 10px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + p span {
    color: #a39fb4;
    text-decoration: line-through;
  }

  input[type="checkbox"]:checked {
    accent-color: #a39fb4;
  }

  p span:last-of-type {
    font-size: 11px;
    vertical-align: middle;
  }

  p span:last-of-type:checked {
    font-size: 11px;
    vertical-align: middle;
    text-decoration: line-through;
  }
}
footer {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  height: 45px;
  width: 534px;
  background-color: #4a4f56;
  font-size: 18px;
  font-weight: 400;
  color: #ff8984;
  display: flex;
  justify-content: center;
  align-items: center;
}
